form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1rem;
  margin-bottom: 1rem;

  input {
    padding: 0.5rem;
  }

  button {
    padding: 0.5rem;
    background-color: #1d4ed8;
    color: white;
    border: none;
    cursor: pointer;
  }
}

.error {
  color: red;
  font-weight: bold;
}
